.healcovery {
    background-image: linear-gradient(to right,#1e848b, #1e8b6c);
    width: "200px";
    height: "100px";
}


.casey {
    background-image: linear-gradient(to left,  #178cc6, #048259, #01594d);
    width: "200px";
    height: "100px";
}